
        .body {
          font-family: Arial, Helvetica, sans-serif;
          margin: 0;
          padding: 0;
        }

        /* NAVIGATION */
        header {
            background: radial-gradient( circle at 10% 50%, rgb(188, 9, 9) 0%, rgb(8, 8, 180) 100%);
            padding: 1%;
        }

        .billnwow-logo{
            position: absolute;
            width: 15%;
            left: 2%;
          }
      
        nav ul {
          list-style: none;
          display: flex;
          justify-content: center;
          padding: 0;
          margin: 0;
          align-items: center;
        }
      
        nav ul li {
          margin: 0 15px;
        }
      
        nav ul li a{
          color: white;
          text-decoration: none;
          text-align: center;
        }
      
        a.btn {
            color: white;
        }

        a.btn:hover{
            color: white;
        }

        /* MODAL */
        input[type=email], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
          }

        button[type=submit]{
            margin-bottom: 5%;
            width: 100%;
        }
 
        /* CONTENT */
        .hero{
          position: relative;
          text-align: center;
        }
      
        .hero img {
          width: 100%;
          height: auto;
        }

        .hero-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(255, 255, 255, 0.8);
          padding: 20px;
          border-radius: 10px;
        }
      
        .hero-text h1 {
          margin: 0;
          font-size: 24px;
        } 
      
        .hero-text p {
          margin: 10px 0;
        }
      
        .hero-text ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }
      
        .hero-text ul li {
          margin: 5px 0;
        }

        .fa-check{
          color:green;
        }

        .webdescript{
          font-family: Arial, sans-serif;
          font-size: 18px;
          color: #333;
          background: #f0f0f0;
          border: 1px solid #ccc;
          line-height: 1.5;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: left;
          margin: 0 auto;
          width: 100%;
        }

        .webdescript img, .webdescript p{
          margin-top: 1%;;
        }

        .webdescript img {
          margin-bottom: 20px;
        }

        .webdescript p {
          max-width: 40%;
          text-align: center;
          font-size: 1.2em;
        }

        .platform-description {
            font-family: Arial, sans-serif;
            padding: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
        }
        .feature {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .feature i {
            font-size: 2em;
            margin-bottom: 10px;
        }
        .feature span {
            font-size: 1.2em;
            margin: 0 20px;
        }

        .new-arrival, .hot-selling {
          text-align: center;
          padding: 20px 0;
        }
      
        .products {
          display: flex;
          justify-content: center;
        }
      
        .product {
          margin: 0 10px;
        }
      
        .product img {
          width: 150px;
          height: auto;
        }
      
        .product p {
          margin-top: 10px;
        }
      
        /* FOOTER */
        footer {
          background: #f0f0f0;
          padding: 20px 0;
          text-align: center;
        }
      
        .footer-icons {
          display: flex;
          justify-content: center;
        }
      
        .icon {
          margin: 0 20px;
        }
      
        .icon img {
          width: 50px;
          height: auto;
        }
      
        .icon p {
          margin-top: 10px;
          font-size: 12px;
        }
      
        .contact {
          margin-top: 20px;
        }
      
        .social-icons a {
          margin: 0 10px;
        }
      
        .social-icons img {
          width: 30px;
          height: auto;
