body {
    font-family: Arial, sans-serif;
    background-image: url('/image/3nwow.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    margin: 0;
}

.application-form {
    background-color: #fff;
    margin-top: 1%;
    margin-left: 25%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
}

.application-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    flex: 1;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="date"],
.form-group input[type="number"]{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.form-group input.short-input, .form-group select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
