h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
th a, td a {
    color: #007bff;
    text-decoration: none;
}
th a:hover, td a:hover {
    text-decoration: underline;
}

.application-form {
    background-color: #fff;
    margin-top: 5%;
    margin-left: 25%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    flex: 1;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input[name="fname"], 
.form-group input[type="emailad"]{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="date"],
.form-group input[type="number"]{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.form-group input.short-input, .form-group select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.checkbox-group label {
    display: inline-flex;
    align-items: center;
}

.checkbox-group input[type="checkbox"] {
    vertical-align: middle; /* Ensures checkbox is vertically centered */
}

.installment-options {
    display: none;
    margin-left: 15%;
}

button {
    width: 100;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 55px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 90%;
}

button:hover {
    background-color: #0056b3;
}

