/* TopNav */
.archive-container {
    background: #fff;
    margin-top: 10%;
    margin-left: 10%;
    color: #000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
}
.archive-container h2 {
    margin-top: 0;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background: #f4f4f4;
}
tr:nth-child(even) {
    background: #f9f9f9;
}
a {
    color: #3498db;
    text-decoration: none;
}
.view-button {
    background: #3498db;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    background: #ee1313;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




