
@media (max-width: 1441px) {
  
    .profile-header {
        margin-top: 20%;

    }

}


@media (max-width: 1025px) {
  
    .profile-header {
        margin-top: 35%;

    }

    .name-title h2{
        font-size: 20px;
    }

    .profile-card {  
        width: 80%;
        margin-top: 7%;  
    }

    .profile-body{
        padding: 10%;
    }

    .avatar {
        width: 50%;
        height: 50%;
        font-size: 20%;
    }

}


@media (max-width: 769px) {
  
    .profile-header {
        margin-top: 35%;

    }

    .name-title h2{
        font-size: 20px;
    }

    .profile-card {  
        width: 80%;
        margin-top: 7%;  
    }

    .profile-body{
        padding: 10%;
    }

    .avatar {
        width: 50%;
        height: 50%;
        font-size: 20%;
    }
}


@media (max-width: 426px) {
  
    .profile-header {
        margin-top: 35%;

    }

    .name-title h2{
        font-size: 80%;
    }

    .profile-card {  
        width: 80%;
        margin-top: 7%;  
    }

    .profile-body{
        padding: 10%;
    }

    .avatar {
        width: 50%;
        height: 50%;
        font-size: 20%;
    }
    .info{
        padding: 2%;
        font-size: 10px;
    }

    .info h3{
    
        font-size: 15px;
        margin-bottom: 0;
    }
    .password-edit{
        font-size: 10px;
    }

    .edit-button{
        padding: 3px 5px;
        font-size: 10px;
    }
    .modal-content{
        height: 30%;
        width: 50%;
        font-size: 50%;
        padding: 20spx;
    }

    .password-field-modal{
       
        width: 70%;
        padding: 2%;
        margin: 2px 0;
        font-size: 10px;
      
    }

    .show-passwords-container label{
        font-size: 6px;
    }
    .show-passwords-container input{
        font-size: 5px;
    }

    .modal-submit-button{
        padding: 3px 5px;
        font-size: 10px;
    }

}

@media (max-width: 376px) {
  
    .profile-header {
        margin-top: 35%;

    }

    .name-title h2{
        font-size: 80%;
    }

    .profile-card {  
        width: 80%;
        margin-top: 7%;  
    }

    .profile-body{
        padding: 10%;
    }

    .avatar {
        width: 50%;
        height: 50%;
        font-size: 20%;
    }
    .info{
        padding: 2%;
        font-size: 10px;
    }

    .info h3{
    
        font-size: 15px;
        margin-bottom: 0;
    }
    .password-edit{
        font-size: 10px;
    }

    .edit-button{
        padding: 3px 5px;
        font-size: 10px;
    }
    .modal-content{
        height: 30%;
        width: 50%;
        font-size: 50%;
        padding: 20spx;
    }

    .password-field-modal{
       
        width: 70%;
        padding: 2%;
        margin: 2px 0;
        font-size: 10px;
      
    }

    .show-passwords-container label{
        font-size: 6px;
    }
    .show-passwords-container input{
        font-size: 5px;
    }

    .modal-submit-button{
        padding: 3px 5px;
        font-size: 10px;
    }

}

@media (max-width: 320px) {
  
    .profile-header {
        margin-top: 35%;

    }

    .name-title h2{
        font-size: 80%;
    }

    .profile-card {  
        width: 80%;
        margin-top: 7%;  
    }

    .profile-body{
        padding: 10%;
    }

    .avatar {
        width: 50%;
        height: 50%;
        font-size: 20%;
    }
    .info{
        padding: 2%;
        font-size: 10px;
    }

    .info h3{
    
        font-size: 15px;
        margin-bottom: 0;
    }
    .password-edit{
        font-size: 10px;
    }

    .edit-button{
        padding: 3px 5px;
        font-size: 10px;
    }
    .modal-content{
        height: 30%;
        width: 50%;
        font-size: 50%;
        padding: 20spx;
    }

    .password-field-modal{
       
        width: 70%;
        padding: 2%;
        margin: 2px 0;
        font-size: 10px;
      
    }

    .show-passwords-container label{
        font-size: 6px;
    }
    .show-passwords-container input{
        font-size: 5px;
    }

    .modal-submit-button{
        padding: 3px 5px;
        font-size: 10px;
    }

}


